.searchicon{
    width: 40px;
    height: 34px;
    background-color: blue;
    border-radius: 0 15px 15px 0;
    border: none;
    
}
.topbar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.searchbar {
    /* position: absolute; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 30px;
    

}
svg.svgsearch {
    padding-left: 3px;
    padding-top: 2px;
}

input.seacrhS {
    flex-grow: 1;
    width: 40px;
    height: 32px;
    border-radius: 15px 0 0 15px;
    background: #DADADA;
    border: none;
    border-right: none;
}
.carticon {
    padding-right: 23px;
}