.alllist{
    background: #FFF3E7;
}
.headingR {
    width: 100%;
    font-size: xx-large;
    padding-left: 50px;
}

.squaresec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    
}
.itemlisting {
    overflow: hidden;
}
.ssquare {
    height: 573px;
    width: 70%;
    background: rgba(217, 217, 217, 0.33);
    overflow: hidden;
    border-radius: 20px;
}
