.backprecolor{
    position: relative;
    z-index: -10;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(
        to right,
        #FFF3E7 0%,
        #FFF3E7 50%,
        #FF8C00 50%,
        #FF8C00 100%
    );
}