/* .triangles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .triangles svg {
    width: 100%;
    height: 100%; 

  } */

  .backdisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .toptriangle{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .lefttriangle{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0%) translateY(-50%);
  }
  .righttriangle{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(26%) translateY(-200%);
  }
