.wholesec{
    position: absolute;
    z-index: 3;
    display: flex;
    height: 100%;
    
   overflow: hidden;
   align-items: center;
   justify-content: center;
}
.leftsec,.rightsec{
    flex-basis: 50%;
    
}
.leftsec {
    text-align: center;
    width: 247px;
    height: 500px;
    margin-left: 180px;
    margin-right: 69px;
    margin-top: 150px;
    color: #FF8C00;
    
}

.rightsec {
    text-align: center;
    width: 247px;
    height: 500px;
    margin-left: 400px;
    margin-right: 69px;
    margin-top: 150px;
    color: white;
    
}
.loginR{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.loginC{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
