.headerPre{
    z-index: -4;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(
        to right,
        #FFF3E7 0%,
        #FFF3E7 50%,
        #FF8C00 50%,
        #FF8C00 100%
    );
}
.navbarPre {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.midbarPre {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5em;
}

.Pre {
    color: black;
}